extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  #header 
    img(src='../images/raiffeisen.png')
  #login.page 
    img(src='../images/micro.png')
    span.raiff Voice Banking
    br
    | Log in
  #dashboard.page 
    img(src='../images/dashboard.png')
  #dining.page 
    img(src='../images/latest-expense.png')
    //-   h2 Dining at Casa Amalfi
    //-   | 16.09.2017, 42€
  #friends.page 
    img(src='../images/splitwise.png')
    //- h2 Dining at Casa Amalfi
    //- | 16.09.2017, 42€
    //- .friend-balance
    //-     ul
    //-         li#albana 
    //-             img(src='../images/albana.png')
    //-             | Albana
    //-             span -60
    //-             | €
    //-         li#michael 
    //-             img(src='../images/michi.png')
    //-             | Michael 
    //-             span -20 
    //-             | €
        //- .splitwise 
        //-     img(src='../images/splitwise.png')
        //-     | Your balance among your friends
  #splitwise.page
    img(src='../images/splitwise.png')
    #ratio
    .albanaBalance
    .michaelBalance
    //-   .friend-balance
    //-       ul
    //-           li#albana 
    //-               img(src='../images/albana.png')
    //-               | Albana
    //-               span -60
    //-               | €
    //-           li#michael 
    //-               img(src='../images/michi.png')
    //-               | Michael 
    //-               span -20 
    //-               | €
  #overview.page 
    img(src='../images/finance-overview.png')
  #invest.page 
    img(src='../images/schedule-appointment.png')
  #appointment.page 
    img(src='../images/appointment-confirmed.png')
  #share.page 
    img(src='../images/splitwise.png')
  #transaction.page
    img(src='../images/settled-up.png')
    #transaction1 20 €
    #transaction2 
    .albanaBalance 0 €
    .michaelBalance 0 €
    //-   ul
    //-       li#albana 
    //-           img(src='../images/albana.png')
    //-           | Albana
    //-           span -60
    //-           | €
    //-       li#michael 
    //-           img(src='../images/michi.png')
    //-           | Michael 
    //-           span -20 
    //-           | €
    //-   | You are settled now
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/ws.js")
