extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  #header 
    img(src='../images/raiffeisen.png')
  #login.page 
    img(src='../images/intro.png')
  #dashboard.page 
    img(src='../images/dashboard.png')
  #dining.page 
    img(src='../images/latest-expense.png')
  #friends.page 
    img(src='../images/splitwise.png')
    .albanaBalance -60,00 €
    .michaelBalance -20,00 €
  #splitwise.page
    img(src='../images/splitwise.png')
    #ratio
    .albanaBalance
    .michaelBalance
  #overview.page 
    img(src='../images/finance-overview.png')
  #invest.page 
    img(src='../images/schedule-appointment.png')
  #appointment.page 
    img(src='../images/appointment-confirmed.png')
  #share.page 
    img(src='../images/splitwise.png')
  #transaction.page
    img(src='../images/settled-up.png')
    #transaction1 20,00 €
    #transaction2 
    .albanaBalance 0,00 €
    .michaelBalance 0,00 €
    //-   ul
    //-       li#albana 
    //-           img(src='../images/albana.png')
    //-           | Albana
    //-           span -60
    //-           | €
    //-       li#michael 
    //-           img(src='../images/michi.png')
    //-           | Michael 
    //-           span -20 
    //-           | €
    //-   | You are settled now
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/ws.js")
