extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  #alexa The content here should get updated by alexa
  #dashboard.page Dashboard
  #dining.page Dining
  #friends.page Friends
  #splitwise.page Splitwise
  #overview.page Ovierview
  #invest.page Investment
  #appointment.page Appointment
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/ws.js")
