extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  #header 
    img(src='../images/raiffeisen.png')
  #dashboard.page 
    img(src='../images/dashboard.png')
  #dining.page Dining
  #friends.page 
    h2 Dining at Casa Amalfi
    | 16.09.2017, 42,50€
    .friend-balance
        ul
            li#albana 
                img(src='../images/albana.png')
                | Albana
                span -60
                | €
            li#michael 
                img(src='../images/michi.png')
                | Michael 
                span -20 
                | €
        //- .splitwise 
        //-     img(src='../images/splitwise.png')
        //-     | Your balance among your friends
  #splitwise.page Splitwise
      .friend-balance
          ul
              li#albana 
                  img(src='../images/albana.png')
                  | Albana
                  span -60
                  | €
              li#michael 
                  img(src='../images/michi.png')
                  | Michael 
                  span -20 
                  | €
  #overview.page Ovierview
  #invest.page Investment
  #appointment.page Appointment
  #share.page Share
  #transaction.page Tranasaction
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/ws.js")
