body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
    height: 8vh;
}

#header img {
    height: 90%;
    top: 5%;
}

.page {
    width: 90%;
    height: 50%;
    margin: auto;
    font-size: 300%;
    display: none;
}

#dashboard {
    background-color: brown;
}

#dining {
    background-color: green;
}

#friends {
    background-color: blue;
}

#splitwise {
    background-color: red;
}

#overview {
    background-color: yellow;
}

#invest {
    background-color: grey;
}

#appointment {
    background-color: chucknorris;
}
