body, div {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-color: white;
  overflow: hidden;
}

.raiff {
    color: #E23A28;
}

a {
  color: #00B7FF;
}

#header {
    height: 100px;
    background-color: white;
    border-bottom: 4px solid #E23A28
}

#header img {
    height: 50px;
    margin-top: 25px;
    margin-left: 60px;
}

.page {
    width: 100%;
    height: calc(100vh - 100px);
    margin: auto;
    font-size: 24pt;
    /*padding: 5%;*/
    display: none;
}

.page img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#login.page {
    /*display: block !important;*/
    width: 15em;
    height: 10em;
    line-height: 2em;
    vertical-align: middle;
    margin: auto;
    top: 5em;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

/*#login img {
    height: 30%;
    width: 30%;
    display: block;
    margin: auto;
}*/

#login .raiff {
    margin: 5px 0 -10px 0;
}

#dashboard img {
    width: 100%;
}

#dining {

}

#friends {

}

.friend-balance {
    border-top: 3px solid grey;
    background-color: #aaa;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}

ul {
    list-style: none;
    line-height: 60px;
}

ul li span {
    margin-left: 3em;
}

ul li img {
    width: 60px;
    border-radius: 30px;
    position: relative;
    top: 25px;
    margin-right: 10px;
}

#splitwise {

}

#ratio {
    position: absolute;
    top: 4em;
    left: 4em;
    font-size: 34pt;
}

.albanaBalance {
    background: transparent;
    font-size: 28pt;
    position: absolute;
    bottom: 1.2em;
    right: 6.1em;
}

.michaelBalance {
    background: transparent;
    font-size: 28pt;
    position: absolute;
    bottom: 1.2em;
    left: 13em;
}

#transaction1 {
    position: absolute;
    font-size: 34pt;
    top: 7em;
    left: 6em;
}

#transaction2 {
    position: absolute;
    font-size: 34pt;
    top: 10em;
    left: 6em;
}

#overview {

}

#invest {

}

#appointment {

}
