body, div {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: ivory;
}

a {
  color: #00B7FF;
}

#header {
    height: 100px;
    background-color: white;
}

#header img {
    height: 70px;
    margin-top: 15px;
    margin-left: 100px;
}

.page {
    width: 100%;
    height: calc(100vh - 100px);
    margin: auto;
    font-size: 24pt;
    /*padding: 5%;*/
    display: none;
}

#login.page {
    display: block !important;
    width: 15em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: #A97D51;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

#dashboard img {
    width: 100%;
}

#dining {

}

#friends {

}

.friend-balance {
    border-top: 3px solid grey;
    background-color: #aaa;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}

ul {
    list-style: none;
    line-height: 60px;
}

ul li span {
    margin-left: 3em;
}

ul li img {
    width: 60px;
    border-radius: 30px;
    position: relative;
    top: 25px;
    margin-right: 10px;
}

#splitwise {

}

#overview {

}

#invest {

}

#appointment {

}
